@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2824 Bolla Drive<br />
    Fayetteville North Carolina 28306<br />
    <abbr title="Phone">P:</abbr>
    254.368.7759
</address>

<address>
    <strong>Business:</strong>   <a href="mailto:samuel.lane.sa@outlook.com">Support@lanesonlinestore.com</a><br />
    <strong>Personal:</strong> <a href="mailto:slane1976@gmail.com">Marketing@lanespersonalemail.com</a>
</address>